*,*::before , *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');

/* nav bar start*/
.logo-nav{
    width: 4cm;
    height: 4cm;
    margin-right: auto;
    cursor: pointer;
}

nav li a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.3s ease 0s;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 10%;
    z-index: 9998;
}

nav li{
    display: inline-block;
    padding: 0px 20px;
}

nav li a:hover{
    color:rgb(114, 150, 230);
    border-bottom: 3px solid white; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.button{
    padding: 9px 35px;
    background-color: rgb(58, 64, 148);
    border: none;
    border-radius: 50px;
    border-width: 100px;
    border-color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white
}
.button:hover{
    color: black;
    background-color: rgb(58, 101, 141) ;
}
/*nav bar end*/

/* splash screen start*/
.splash-wrapper{
    position: fixed;
    z-index: 9999;
    background-color: rgb(2, 1, 12);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    animation-name: slideOut;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 3s;

}

.logo{
    width: 10cm;
    height: 10cm;
    opacity : 0;
    animation-name: slideUp;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2;


}

@keyframes slideUp{
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes slideOut{
    from {bottom: 0}
    to {bottom: 150vh}

}

.checkbox{
    display: none;
}
/*splash screen end*/

/* Scroll shrink*/
.banner.sticky{
    padding: 5 px 100x;
    background: white;
}
/*Scroll shrink end*/

/*content start*/
.content{
    height: 200vh;
    background-color:rgb(14, 15, 20);
    margin: 0;
    padding: 0;

}

.animated-banner{
    text-align: center;
    position: center;
    color: white;
    font-family: 'heimdal', sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-image: url(../Images/index/ezgif-1-16e3d64ce8.gif);

}

/* flipper*/

.flipper-1{
    opacity: 1
}
.flipper-2{
    opacity: 0;
}
/*content end*/