*,*::before , *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
  

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: "Heimdal";
    src: url(../fonts/Heimdal.ttf) format('truetype');
}

/* nav bar start*/
.logo-nav{
    color: rgb(255, 255, 255);
    font-family: 'Heimdal', sans-serif;
    margin-right: auto;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}

.logo-nav:hover{
    color: #daa520;
}

nav li a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
    transition: all 0.3s ease 0s;
}

header{
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 10%;
    z-index: 2;
}

nav li{
    display: inline-block;
    padding: 0px 20px;
    overflow: hidden;

}

nav li a:hover{
    color:rgb(114, 150, 230);
    border-bottom: 3px solid white; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.button{
    padding: 9px 35px;
    background-color: rgb(114, 150, 230);
    border: none;
    border-radius: 50px;
    border-width: 100px;
    border-color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white
}
.button:hover{
    color: black;
    background-color: rgb(74, 115, 202) ;
}
/*nav bar end*/

/* splash screen start*/
.intro{
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -50px;
    opacity: 0;
}
.logo img{
    height: 10cm;
}

.logo.active{
    bottom: -30px;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
/*splash screen end*/

/* Scroll shrink*/
header{
    align-items: center;
    width: 100%;
    transition: 0.5s;
    width: 100%;
    overflow: hidden;

}

header.covered{
    background-color: #000;
    height: 80px;
}
/*Scroll shrink end*/

/*content start*/
.content{
    height: 200vh;
    background-color:black;
    margin: 0;
    padding: 0;

}

.animated-banner{
    position: relative;
    text-align: center;
    height: 990px;
    text-align: center;
    position: center;
    color: white;
    font-family: 'Heimdal', sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-image: url(../Images/index/index-banner-background.gif);
    background-size: cover;

}

.banner-text-1{
    animation: slideUp1 1s ease-in-out 0.5s;
    animation-delay:2s;


}
.banner-text-2{
    animation: slideUp1 1s ease-in-out 0.5s;
    animation-delay:2.3s;


}

.banner-text-3{
    animation: slideUp1 1s ease-in-out 0.5s;
    animation-delay:2.5s;

}


@keyframes slideUp1{
    0% {
        opacity: 0.2;
        line-height: 500px;
    }
    100%{
        opacity: 1;
        line-height: 80px;
    }
}

.banner-text-1{
    padding-top: 400px;
    margin: 0;
}

/*flipper start*/
.typewrite{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 5px rgb(114, 150, 230);
}

/*flipper end*/

/*content end*/