*,*::before , *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;

}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');

/* nav bar start*/
.logo{
    width: 4cm;
    height: 4cm;
    margin-right: auto;
    cursor: pointer;
}

nav li a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 15%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    background-color: #02050f
}

nav li{
    display: inline-block;
    padding: 0px 20px;
}

nav li a{
    transition: all 0.3s ease 0s;
}
nav li a:hover{
    color:rgb(114, 150, 230);
    border-bottom: 3px solid white; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.button{
    padding: 9px 35px;
    background-color: rgb(58, 64, 148);
    border: none;
    border-radius: 50px;
    border-width: 100px;
    border-color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white
}
.button:hover{
    color: black;
    background-color: rgb(58, 101, 141) ;
}
/*nav bar end*/

/*content start*/
.content{
    height: 200vh;
    background-color:rgb(14, 15, 20);
    margin: 0;
    padding: 0;
}

.animated-banner{
    text-align: center;
    position: center;
    color: white;
    font-family: 'heimdal', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

