*,*::before , *::after{
    box-sizing: border-box;

  }
  
  *{
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    background-color: rgb(1, 2, 20);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .example {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

  body{
    height: 200vh;
  }
  
  
  /* imports */
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @font-face {
    font-family: "Heimdal";
    src: url(../fonts/Heimdal.ttf);
  }
  @import url('https://unpkg.com/open-props');
  @import url('https://unpkg.com/open-props/normalize.min.css');

  /* nav bar start*/
  .logo-nav{
    color: rgb(255, 255, 255);
    font-family: 'Heimdal', sans-serif;
    margin-right: auto;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
  }
  
  .logo-nav:hover{
    color: goldenrod;
  }
  
  nav li a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
    transition: all 0.3s ease 0s;
  }
  
  header{
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 10%;
    z-index: 20;
  }
  
  nav li{
    display: inline-block;
    padding: 0px 20px;
    overflow: hidden;
  
  }
  
  nav li a:hover{
    color:rgb(114, 150, 230);
    border-bottom: 3px solid white; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  /*nav bar end*/
  
  
  /* Scroll shrink*/
  header{
    align-items: center;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
  
  }
  
  header.covered{
    background-color: #000;
    height: 80px;
  }
  /*Scroll shrink end*/
  
  /*content start*/
  .content{
    position: absolute;
    inline-size: min(100%);
    margin-inline: auto;
    font-family: 'Raleway', sans-serif;
    color: white;
    height: 110vh;
    background-color:rgb(12, 14, 12);
    margin: 0;
    padding: 0;
    
  
  }

 .top{
    background-color: rgb(1, 2, 20);
    width: auto;
    
    
 }
 .content-top{
    font-family: 'Raleway', sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    min-height: 580px;
    height: 100vh;
    align-items: center;
  }


  .main-banner{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 5;
    
  }
  
  .main-banner h1{
    font-size: 60px;
    z-index: 5;
  }

  .buttons{
    margin-left: -11px;
    z-index: 5;
  }
  
  .banner-button{
    padding: 9px 35px;
    background-color: rgb(114, 150, 230);
    border: none;
    border-radius: 50px;
    border-width: 100px;
    border-color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .banner-button{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding-left: -10px;
    margin: 21px;
    margin-left: 20px;

  }
  .banner-button:hover{
    color: black;
    background-color: rgb(74, 115, 202) ;
  }
  
  /*Content text formatting start*/

 /*Arrow animation start*/
 /*Credit to Joshua MacDonald*/
 
 .arrow,
.arrow:before{
  position: absolute;
  left: 50%;
}

.arrow{
  width: 40px;
  height: 40px;
  top: 110%;
  margin: 200px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  z-index: 5;
}
  
.arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
} 
  
  
@keyframes arrow{
  0%{
    pacity: 1;
  }
  
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
  }
 
}

/*Arrow animation end*/

/*Bottom start*/


/*Up arrow animation start*/
.up-arrow,
.up-arrow:before{
  position: absolute;
  left: 50.35%;
}

.up-arrow{
  width: 40px;
  height: 40px;
  top: -15%;
  margin: 200px 0 0 -20px;
  -webkit-transform: rotate(-135deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
  
.up-arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
} 
  
  
@keyframes arrow{
  0%{
    pacity: 1;
  }
  
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
  }
 
}
/*Up arrow animation end*/

.bottom{
  background-color: black;
  scroll-margin-top: 80px;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 6;
}

.bottom-main-text{
  margin-top: 15vh;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  position: relative;
  
}
.top-box{
  border: solid red;
  transition: 2s;

}
.bottom-banners{
  display: flex;
  
}

.bottom-banners a{
  text-decoration: none;
}

.bottom-what, .bottom-how{
  font-family: 'Poppins', sans-serif;
  color: white;
  border: solid red;
  height: 75vh;
  padding-top: 35vh;
  transition: 1s;
}

.what-banner{
  text-align: center;
  width: 50vw;
  transition: 1s;
}

.how-banner{
  float: right;
  text-align: center;
  transition: 1s;
  width: 50vw;
  
}

/*Banner animations start*/

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-left {
  animation: fade-left 1s ease-in-out;
}
.active.fade-right {
  animation: fade-right 1s ease-in-out;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.what-banner:hover {
  width: 100vw;
}

.what-banner:hover .bottom-what{
  font-size: 50px;
}

.how-banner:hover {
  width: 100vw;
}

.how-banner:hover .bottom-how{
  font-size: 50px;
}


