.transition-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 100%;
    z-index: 101;
    background-color: rgb(19, 19, 22);
    transition: 0.5s ease-out;
}

.transition-2.is-active {
    bottom: 0px;
}